{% extends 'layouts/base2.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Reminders</h6>
          </div>
          <div class="col-lg-6 col-5 text-right">
               <strong><a class="btn btn-sm btn-info" href="{% url 'emailreminder'%}">send today's reminder</a></strong>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush" border="1">
            <thead class="thead-dark">
             <tr>
                <th scope="col" class="sort" data-sort="name">Sr. No. </th>
                <th scope="col" class="sort" data-sort="name">reminder date </th>
                <th scope="col" class="sort" data-sort="budget">reminder description</th>
                <th scope="col" class="sort" data-sort="status">investment description</th>
                <th scope="col">investment date</th>
                <th scope="col" class="sort" data-sort="completion">due/renew date</th>
                 <th scope="col" class="sort" data-sort="completion">update</th>
                 <th scope="col" class="sort" data-sort="completion">remove</th>

              </tr></thead>
            <tbody>
        {% for reminder in reminders %}
        <tr>
           <td><strong>{{ forloop.counter }} </strong></td>
           <td><strong>{{ reminder.Reminder_date }}</strong></td>
           <td><strong>{{ reminder.Reminder_description }}</strong></td>
           <td><strong>{{ reminder.Reminder_Investment_id.investment_description }}</strong></td>
           <td><strong>{{ reminder.Reminder_Investment_id.investment_date }}</strong></td>
           <td><strong>{{ reminder.Reminder_Investment_id.investment_due_date }}</strong></td>
            <td><strong><a class="btn btn-sm btn-info" href="{% url 'updateClientReminderForm' reminder.Reminder_id %}">update</a></strong></td>
            <td><strong><a class="btn btn-sm btn-danger"  href="{% url 'agentdeleteReminder' reminder.Reminder_id %}">delete</a></strong></td>
          </tr>
        {% endfor %}
        </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="pagination">
    <span class="step-links">
        {% if reminders.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ reminders.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ reminders.number }} of {{ reminders.paginator.num_pages }}.
        </span>

        {% if reminders.has_next %}
            <a href="?page={{ reminders.next_page_number }}">next</a>
            <a href="?page={{ reminders.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


  </div>
</body>
</html>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
